.product-description{
    font-family: 'Poppins', sans-serif;
  }
  h3, h5{
    font-family: 'Bebas Neue', sans-serif;
  }
   .price{
    font-family: 'Montserrat', sans-serif;
  }
  .btn-style{
      background-color : #268826  !important;
      color : #fff !important
  }
  .btn-style:hover{
      background-color : #fff !important;
      border-color : #268826  !important;
      color: #000 !important
  }