{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Fjalla+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% comment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"> {% endcomment %}
    <title>{% block title %}{{ block.super|default:"PlantNest" }}{% endblock title %}</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar tan p-3 navbar-expand-lg bg-white shadow-sm position-sticky top-0 bottom-0 bg-opacity-80">
        <div class="container-fluid">
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="fw-semibold d-flex text-decoration-none text-dark fs-2  text-align-center  align-items-center gap-2"
                href="#">
                <strong class="fw-semibold">Plant&nbsp;<span style="background-color: #26a826; color: #fff;"
                        class="px-2 text-center rounded-2">Nest.</span></strong>
            </a>
            <div class="collapse overflow-hidden navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-5 ms-auto mb-2 mb-lg-0 gap-3 fw-semibold">
                    <li class="nav-item">
                        <a class="nav-link   scrollto" aria-current="page" href="#Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  scrollto" href="#About">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto " href="#About">Accessories</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" role="list" class="dropdown-toggle nav-link text-decoration-none text-dark"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sitemap
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">Home</a></li>
                            <li><a href="#" class="dropdown-item">Contact</a></li>
                            <li><a href="#" class="dropdown-item">Accessories/a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  scrollto" href="#About">Catalog</a>
                    </li>

                </ul>
                <form class="d-flex mx-4" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success rounded-2 fw-semibold" type="submit">Search</button>
                </form>
                <a href="#" class="px-3 p-1 we text-decoration-none fw-semibold mx-2  rounded-2">Login</a>
                <a href="#" class="px-3 p-1 we text-decoration-none fw-semibold mx-2  rounded-2">Sign Up</a>
            </div>
        </div>
    </nav>
    <!-- Offcanvas -->
    <div class="offcanvas bg-white offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"><span class="fs-4" style="color: #333333;">
                    Plant<span style="background-color: #26a826; color: #fff ;" class="px-2 rounded-2">Nest.</span>
                </span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body fw-semibold">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#About">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#Skill">Accessories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Services">Catalog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Services">Sitemap</a>
                </li>
            </ul>
        </div>
    </div>
    <main>
        <p class="cart-count">{{ total_cart_quantity|default:0 }}</p>
        <p class="wish-count">{{ total_wish_items|default:0 }}</p>

        {% block content %}
        {% endblock content %}

        <div id="preloader"></div>
    </main>

    <hr>
    <section class="bg-white p-4" role="navigation">
        <div class="container-fluid">
            <div class="row row-cols row-cols-lg-5 row-cols-md-2 row-cols-sm-1  g-2 g-lg-4">
                <div class="col-sm-6 p-1">
                    <div class="p-3 ">
                        <a class="fw-semibold d-flex text-decoration-none text-dark fs-2  text-align-center  align-items-center gap-2" href="index.html">
                            Plant<span style="background-color: #26a826; color: #fff; word-spacing: -10px;" class="rounded-2 px-1">Nest.</span>
                        </a>
                        <p class="you">
                            From The garden to your Hearts.A bouquet of happiness, delivered to your doorsteps.
                        </p>
                        <p>
                            <span>
                                <a href="https://www.facebook.com" target="_blank" class="text-decoration-none text-dark"><i class="bi bi-facebook fs-3"></i></a>
                            </span>
                            &nbsp;
                            <span>
                                <a href="https://wa.me/message/EWBEQCHJ2FE6M1" target="_blank" class="text-decoration-none text-dark"><i class="bi bi-whatsapp fs-3"></i></a>
                            </span>
                            &nbsp;
                            <span>
                                <a href="https://www.twitter.com" target="_blank" class="text-decoration-none text-dark"><i class="bi bi-twitter fs-3"></i></a>
                            </span>
                            &nbsp;
                            <span>
                                <a href="https://www.linkedin.com" target="_blank" class="text-decoration-none text-dark"><i class="bi bi-linkedin fs-3"></i></a>
                            </span>
                            &nbsp;
                            <span>
                                <a href="https://www.instagram.com" target="_blank" class="text-decoration-none text-dark"><i class="bi bi-instagram fs-3"></i></a>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6  ">
                    <div class="p-1 twi">
                       <strong ><h4 class="ms-2 lim" style="font-family: 'Montserrat', sans-serif;">QUICK LINK</h4></strong>
                       <ul  class="p-2 ret fw-semibold">
                        <li class="py-2"><a href="#">Home</a></li>
                        <li class="py-2"><a href="#">Contact</li>
                        <li class="py-2"><a href="#">Check-out</a></li>
                        <li class="py-2"><a href="#">WishList</a></li>
                       </ul>
                    </div>
                </div>
                <div class="col-sm-6  tac">
                    <div class="  ">
                        <strong><h4 class="lim" style="font-family: 'Montserrat', sans-serif;">STORE INFO</h4></strong>
                        <ul class="p-2  fw-semibold">
                            <li class="py-2" style="list-style-type: none;">No 1, Joju bustop,
                                ogbohu plaza, beside
                                Gt bank, Ota</li>
                            <li class="py-2 " style="list-style-type: none;"><a href="tel:+234 450 7894 4567" class="text-decoration-none text-dark">Call Us: +2349010750893</li>
                            <li class="py-2" style="list-style-type: none;"><a href="mailto:aptechwizproject@gmail.com" class="text-decoration-none text-dark">ademolathompson5@gmail.com</a></li>
                           </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="p-4 border-top bg-light ">
        <div class="container text-center">
            <small class="text-center">&copy; Copyright <strong>PlantNest.</strong> All right Reserved</small>
        </div>
    </footer>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% comment %} bootstrap js {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>


    {% comment %} Toggle password in login and signup pages {% endcomment %}
    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {

            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

        });
    </script>
    
    <!-- Templatejavascript -->
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>